{% extends "base.html" %}

{% block content %}

<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title"><strong>Modification du mot de passe</strong></h3>
    </div>

    <p>Mon email : {{ user.email }}</p>
     <a href="{{ url_for('auth.change_password') }}">
        <span class="fa fa-lock" aria-hidden="true"></span>
        Modifier mon mot de passe
    </a>

    <form action="{{ url_for('auth.change_password') }}" class="form-horizontal" method="POST">
        {{ form.hidden_tag() }}

        <div class="panel-body" style ="overflow-x:scroll">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">

                    <div class="form-group {% if form.old_password.errors %} has-error {% endif %}">
                        {{form.old_password.label()}}
                        <div>
                            {{form.old_password(class="form-control")}}
                        </div>
                        <p class="help-block">
                            {{ form.old_password.errors[0] }}
                    </div>

                    <div class="form-group {% if form.password.errors %} has-error {% endif %}">
                        {{form.password.label()}}
                        <div>
                            {{form.password(placeholder="Min. 8 caractères", class="form-control")}}
                        </div>
                        <p class="help-block">
                            {{ form.password.errors[0] }}
                    </div>

                    <div class="form-group {% if form.password2.errors %} has-error {% endif %}">
                        {{form.password2.label()}}
                        <div>
                            {{ form.password2(class="form-control") }}
                        </div>
                        <p class="help-block">
                            {{ form.password2.errors[0] }}
                    </div>

                    <div class="form-group">
                        <button class="btn btn-success" type="submit">Valider</button>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}
