{% extends "base.html" %}

{% block content %}

<div class="alert alert-warning">
    <p>Si vous aviez déjà un compte sur <a href="http://www.jeudelorgue.raidghost.com" target="_blank">l'ancien site</a>, vous n'avez pas besoin de recréer un compte, vous pouvez <a href="{{ url_for('auth.login') }}">vous connecter</a> avec vos anciens identifiants (pseudo et mot de passe).</p>
    <p>Si vous avez oublié votre mot de passe, vous pouvez le récupérer facilement sur <a href="http://www.jeudelorgue.raidghost.com" target="_blank">l'ancien site</a>.</p>
    <p>En dernier recours, vous pouvez demander à l'admin d'activer votre compte et de vous communiquer votre mot de passe <a href="http://www.jeuxvideo.com/messages-prives/nouveau.php?all_dest=olaflebataf" target="_blank">par MP sur le forum</a>.</p>

</div>


<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title"><strong>Inscription</strong></h3>
    </div>

    <form action="{{ url_for('auth.signup') }}" class="form-horizontal" method="POST">
        {{ form.hidden_tag() }}

        <div class="panel-body" style ="overflow-x:scroll">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">

                    <div class="form-group {% if form.email.errors %} has-error {% endif %}">
                        {{form.email.label()}}
                        <div>
                            {{form.email(class="form-control")}}
                        </div>
                        <p class="help-block">
                            {{ form.email.errors[0] }}
                    </div>

                    <div class="form-group {% if form.username.errors %} has-error {% endif %}">
                        {{form.username.label()}}
                        <div>
                            {{form.username(class="form-control")}}
                        </div>
                        <p class="help-block">
                            {{ form.username.errors[0] }}
                    </div>

                    <div class="form-group {% if form.password.errors %} has-error {% endif %}">
                        {{form.password.label()}}
                        <div>
                            {{ form.password(placeholder="Min. 8 caractères", class="form-control") }}
                        </div>
                        <p class="help-block">
                            {{ form.password.errors[0] }}
                    </div>

                    <div class="form-group">
                        <button class="btn btn-success" type="submit">Valider</button>
                        <span class="pull-right">
                            Déjà inscrit ?
                            <a href="{{ url_for('auth.login') }}">
                                Me connecter
                            </a>
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>


{% endblock %}
