{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title">{{ category.name }}</h3>
        </div>

        <div class="panel-body">
            <div class="row">
                <ul class="col-md-8 col-md-offset-2">
                    <li>Nombre de tours : {{ category.number_rounds }}</li>
                    <li>Nombre de points attribué au vainqueur : {{ category.maximal_score }}</li>
                    <li>Nombre de points attribué au dernier : {{ category.minimal_score }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
