{% extends "base.html" %}

{% block content %}

<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title">FAQ</h3>
    </div>

    <div class="panel-body">
        <ul>
            <li>
               <h4><span class="fa fa-chevron-right"></span>
               Comment participer à un tournoi ?</h4>
               <p>Sur la page du tournoi, cliquez sur "M'inscrire".</p>
            </li>
            <li>
               <h4><span class="fa fa-chevron-right"></span>
               Comment remplir mon tableau ?</h4>
               <p>Une fois inscrit au tournoi, cliquez sur "Remplir mon tableau". Pour pronostiquer de chaque match, cliquez sur le nom du joueur qui va l'emporter selon vous. Une fois que vous avez pronostiqué tous les matchs, cliquez sur "Valider".</p>
            </li>
        </ul>
    </div>
</div>


{% endblock %}
