{% extends "base.html" %}

{% block content %}

<div class="jumbotron bg-primary">
    <div class="text-center">
        <h1>Le jeu de L-orgue</h1>
    </div>
    <div class="text-center">
        <p>Révélez au monde vos talents de pronostiqueur et terminez la saison au sommet de l'ATP</p>
        <div class="row">
            <div class="col-md-6">
                <a href="{{ url_for('auth.pre_signup') }}" class="btn btn-success" role="button">
                    Je m'inscris</a>
            </div>
            <div class="col-md-6">
                <a href="{{ url_for('auth.login') }}" class="btn btn-success" role="button">
                    Je me connecte</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}
