{% extends "base.html" %}

{% block styles %}
{{ super() }}

<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">

{% endblock %}

{% block content %}

<div class="jumbotron bg-primary">
    <div class="text-center">
        <h1>Le jeu de L-orgue</h1>
    </div>
    <div class="text-center">
        <p>Le jeu de pronostics de tennis que le monde entier nous envie</p>
        <p>Révélez au monde l'étendue de votre talent et terminez la saison au sommet de l'ATP</p>
        <div class="row">
            <div class="col-md-6">
                <a href="{{ url_for('auth.signup') }}" class="btn btn-success" role="button">
                    Je m'inscris</a>
            </div>
            <div class="col-md-6">
                <a href="{{ url_for('auth.login') }}" class="btn btn-success" role="button">
                    Je me connecte</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}
