{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default panel-table">

            <div class="panel-heading">
                <h3 class="panel-title">Classement Race</h3>
            </div>

            <div class="panel-body">

                <a class="btn btn-primary"
                   href="{{ url_for('ranking.race_ranking') }}">
                <span class="fa fa-list"></span>
                    Voir le classement Race complet
                </a>
                <a class="btn btn-primary"
                   href="{{ url_for('ranking.annual_ranking') }}">
                <span class="fa fa-list"></span>
                    Voir le classement annuel
                </a>

                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Pseudo</th>
                            <th>Points</th>
                            <th>Tournois</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in race_ranking %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ user.username }}</td>
                                <td>
                                    {% if user.year_to_date_points is none %}
                                        0
                                    {% else %}
                                        {{ user.year_to_date_points }}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ user.year_to_date_participations.count() }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        {% if current_tournament %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Tournoi en cours : {{ current_tournament.name }}</h3>
            </div>

            <div class="panel-body">

                <a class="btn btn-primary"
                   href="{{ url_for('tournament.view_tournaments') }}">
                <span class="fa fa-list"></span>
                    Voir tous les tournois
                </a>

                <a class="btn btn-primary"
                   href="{{ url_for('tournament.view_tournament', tournament_id = current_tournament.id) }}">
                <span class="fa fa-sitemap"></span>
                    Voir le tournoi
                </a>

                {% if current_tournament.participants and not current_tournament.are_draws_private() %}
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Pseudo</th>
                                <th>Tableau</th>
                                <th>Score / {{ current_tournament.get_current_maximal_score() }}</th>
                                <th>Coefficient de risque</th>
                                {% if current_tournament.is_finished() %}
                                    <th>Points ATP attribués</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for participant in current_tournament.participants_sorted() %}
                                <tr>
                                    <th>
                                        <a href= '{{ url_for("main.view_user", user_id = participant.user.id, _external = True) }}'>
                                        {{ participant.user.username }}</a>
                                    </th>
                                    <th>
                                        <a href= '{{ url_for("tournament.view_participant_draw", tournament_id = current_tournament.id, participant_id = participant.id, _external = True) }}'>
                                        Voir</a>
                                    </th>
                                    <th>{{ participant.score }}</th>
                                    <th>{{ participant.risk_coefficient }}</th>
                                    {% if current_tournament.is_finished() %}
                                        <th>{{ participant.points }}</th>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    Aucun participant à ce tournoi pour le moment
                {% endif %}

            </div>
        </div>
        {% else %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Tournois passés</h3>
                </div>

                <div class="panel-body">

                    <a class="btn btn-primary"
                       href="{{ url_for('tournament.view_tournaments') }}">
                    <span class="fa fa-list"></span>
                        Voir tous les tournois
                    </a>

                </div>
            </div>

        {% endif %}

    </div>
</div>

{% endblock %}
