{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block content %}

<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title"><strong>Profil de {{ user.username }}</strong></h3>
    </div>

    <div class="panel-body" style ="overflow-x:scroll">
        {% if current_user.id == user.id or current_user.is_administrator() %}
            <p>Mon email : {{ user.email }}</p>
        {% endif %}
        {% if current_user.id == user.id %}
             <a href="{{ url_for('auth.change_password') }}">
                <span class="fa fa-lock" aria-hidden="true"></span>
                Modifier mon mot de passe
            </a>
        {% endif %}

        <br>

        <h4>Palmarès</h4>
        {% with best_rank = user.get_best_tournament_rank() %}
            {% if best_rank %}
            <p>Meilleur classement en tournoi : #{{ best_rank.ranking }} (<a href= '{{ url_for("tournament.view_tournament", tournament_id = best_rank.tournament.id, _external = True) }}'>{{ best_rank.tournament.name }}</a>)</p>
            {% endif %}
        {% endwith %}
        {% with titles = user.get_titles() %}
            <p>{{ titles.count() }} {% if titles.count() <= 1 %}titre{% else %}titres{% endif %} {% if titles.count() > 0 %}
            ({% for t in titles %}{% if loop.index > 1 %}, {% endif %}<a href= '{{ url_for("tournament.view_tournament", tournament_id = t.tournament.id, _external = True) }}'>{{ t.tournament.name }}</a>{% endfor %})
            {% endif %}</p>
        {% endwith %}

        <br>

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Tournoi</th>
                    <th>Classement</th>
                    <th>Score</th>
                    <th>Points ATP</th>
                </tr>
            </thead>
            <tbody>
                {% for participant in pagination.items %}
                    <tr>
                        <td>
                            <a href= '{{ url_for("tournament.view_tournament", tournament_id = participant.tournament.id, _external = True) }}'>
                            {{ participant.tournament.name }}</a>
                        </td>
                        <td>{{ participant.ranking }} / {{ participant.tournament.participants.count() }}</td>
                        <td>{{ participant.score }} / {{ participant.tournament.maximal_score }}</td>
                        <td>{{ participant.points }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="pagination">
            {{ macros.pagination_widget(pagination, 'main.view_user', user_id = user.id) }}
        </div>

        {% if current_user.is_administrator() %}
        <a class="btn btn-danger" href="{{ url_for('.edit_profile_admin', user_id = user.id) }}">
            Edit Profile [Admin]
        </a>
        {% endif %}
    </div>
</div>


{% endblock %}
