{% extends "base.html" %}

{% block content %}

<a class="btn btn-default"
   href="{{ url_for('.view_tournament', tournament_id=tournament.id) }}">
    <span class="fa fa-arrow-left"></span>
    Revenir au tournoi
</a>

<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title">Pronostics globaux</h3>
    </div>

    <div class="panel-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Joueur</th>
                    {% for name in tournament.get_round_names() %}
                    <th>{{ name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% with stats = tournament.get_overall_forecasts_stats() %}
                    {% for tournament_player in tournament.players %}
                        <tr>
                            <td>{{ tournament_player.get_full_name() }}</td>

                            {% for round in range(tournament.number_rounds, 0, -1) %}
                                {% with number_forecasts = stats[tournament_player][round] %}
                                    {% if number_forecasts %}
                                    <td class="success">{{ number_forecasts }}</td>
                                    {% else %}
                                    <td></td>
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endwith %}
            </tbody>
        </table>

    </div>
</div>

{% endblock %}
