{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/draw.css') | autoversion }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/{}.css'.format(tournament.surface.class_name)) | autoversion }}">

{% endblock %}


{% block content %}

<a class="btn btn-default"
   href="{{ url_for('.view_tournament', tournament_id=tournament.id) }}">
    <span class="fa fa-arrow-left"></span>
    Revenir au tournoi
</a>

<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title">{{ tournament.name }} - Simulateur de scénarios</h3>
    </div>

    <div class="panel-body">

        <div class="alert alert-info">
            <p>Cliquez sur le nom d'un joueur pour le faire avancer au tour suivant.</p>
            <p>Ctrl + clic pour effacer le contenu d'une case du tableau.</p>
        </div>

        <div class="row">
            <div class="col-md-12">
                <form action="{{ url_for('tournament.scenario_simulator', tournament_id=tournament.id) }}" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <button class="btn btn-success" type="submit">Simuler</button>
                    </div>
                    <div class="form-group">
                        <div>
                            {{form.forecast(class="form-control")}}
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div id="round-names" class="draw">
            {% for round in tournament.get_matches_by_round() %}
                <div class="round">
                    <div class="round-name">
                        {{ tournament.get_round_names()[loop.index - 1] }}
                    </div>
                </div>
            {% endfor %}
                <div class="round">
                    <div class="round-name">
                        V
                    </div>
                </div>
        </div>

        <div id="tournament" class="draw">

            {% with matches = tournament.get_matches_first_round() %}
                <div class="round">
                    <div class="spacer">
                        &nbsp;
                    </div>

                    {% for match in matches %}
                        <div id="player-{{ match.position }}-0"
                            class="game game-player match first-round"
                            tournament_player_id="{{ match.tournament_player1_id }}"
                            match_position_id="{{ match.position }}"
                            match_id="{{ match.id }}"
                            {% if not match.tournament_player1.is_bye() %}
                                onclick="fill_next_round(event, {{ match.position }}, 0)"
                            {% endif %}>
                            {% if match.tournament_player1_id %}
                                {{ match.tournament_player1.get_full_name() | truncate(35) }}
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </div>

                        <div class="game game-spacer">
                            &nbsp;
                        </div>

                        <div id="player-{{ match.position }}-1"
                            class="game game-player match first-round"
                            tournament_player_id="{{ match.tournament_player2_id }}"
                            match_position_id="{{ match.position }}"
                            match_id="{{ match.id }}"
                            {% if not match.tournament_player2.is_bye() %}
                                onclick="fill_next_round(event, {{ match.position }}, 1)"
                            {% endif %}>
                            {% if match.tournament_player2_id %}
                                {{ match.tournament_player2.get_full_name() | truncate(35) }}
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </div>

                        <div class="spacer">
                            &nbsp;
                        </div>

                    {% endfor %}

                </div>
            {% endwith %}


            {% for round in tournament.get_matches_by_round() %}

                {% if loop.index < loop.length %}

                    <div class="round">
                        <div class="spacer">
                            &nbsp;
                        </div>

                        {% for match in round["matches"] %}

                            {% with next_match = match.get_next_match() %}

                                {% with winner = simulated_matches[match.id] %}
                                    {% if winner %}

                                        <div id="player-{{ next_match.position }}-{{ loop.cycle(0, 1) }}"
                                            class="game game-player match"
                                            tournament_player_id="{{ winner.id }}"
                                            match_position_id="{{ next_match.position }}"
                                            match_id="{{ next_match.id }}"
                                            onclick="fill_next_round(event, {{ next_match.position }}, {{ loop.cycle(0, 1) }})">
                                                {{ winner.get_full_name() | truncate(35) }}
                                        </div>

                                    {% else %}

                                        <div id="player-{{ next_match.position }}-{{ loop.cycle(0, 1) }}"
                                            class="game game-player match"
                                            tournament_player_id="None"
                                            match_position_id="{{ next_match.position }}"
                                            match_id="{{ next_match.id }}"
                                            onclick="fill_next_round(event, {{ next_match.position }}, {{ loop.cycle(0, 1) }})">
                                            &nbsp;
                                        </div>

                                    {% endif %}

                                    <div class="{{ loop.cycle('game game-spacer', 'spacer') }}">
                                        &nbsp;
                                    </div>

                                {% endwith %}
                            {% endwith %}
                        {% endfor %}

                    </div>
                {% else %}

                    {% with match = round["matches"][0] %}
                        {% with winner = simulated_matches[match.id] %}
                            <div class="round last-round">
                                <div id="player-0-1"
                                    class="game game-player"
                                    tournament_player_id="{% if winner.id %}{{ winner.id }}{% else %}None{% endif %}"
                                    onclick="fill_next_round(event, 0, 1)">
                                    {% if winner %}
                                        {{ winner.get_full_name() | truncate(35) }}
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </div>
                            </div>
                        {% endwith %}
                    {% endwith %}
                {% endif %}
            {% endfor %}

        </div>

        </div>
    </div>


<div class="panel panel-default panel-table">

    <div class="panel-heading">
        <h3 class="panel-title">
            <a data-toggle="collapse" href="#collapse3">
            Participants</a></h3>
    </div>

    <div id="collapse3" class="panel-collapse collapse in">
        <div class="panel-body">

            {% if tournament.participants.first() %}
                <div class="table">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Participant</th>
                                <th>Tableau</th>
                                <th>Score / {{ tournament.get_current_maximal_score_simulator(scenario) }}</th>
                                <th>Coefficient de risque</th>
                        </thead>
                        <tbody>
                            {% for participant, score, risk_coefficient in scores %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>
                                        <a href= '{{ url_for("main.view_user", user_id = participant.user.id, _external = True) }}'>
                                        {{ participant.user.username }}</a>
                                    </td>
                                    <td>
                                        <a href= '{{ url_for(".view_participant_draw", tournament_id = tournament.id, participant_id = participant.id, _external = True) }}'>
                                        Entier</a>
                                        {% if tournament.number_rounds > 4 %}
                                        <a href= '{{ url_for(".view_participant_draw_last16", tournament_id = tournament.id, participant_id = participant.id, _external = True) }}'>
                                         / A partir des 8èmes</a>
                                        {% endif %}
                                    </td>
                                    <td>{{ score }}</td>
                                    <td>{{ risk_coefficient | int }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                Aucun participant à ce tournoi pour le moment
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}


{% block extrajs %}
    <script src="{{ url_for('static', filename='js/draw.js') | autoversion }}"></script>
{% endblock %}

