{% extends "base.html" %}

{% block styles %}
{{ super() }}

<link rel="stylesheet" href="{{ url_for('static', filename='css/stats.css') }}">

{% endblock %}


{% block content %}

<a class="btn btn-default"
   href="{{ url_for('.view_tournament', tournament_id=tournament.id) }}">
    <span class="fa fa-arrow-left"></span>
    Revenir au tournoi
</a>

<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title">Voir les pronostics pour un joueur donné</h3>
    </div>

    <div class="panel-body">
        <form action="{{ url_for('tournament.tournament_player_stats', tournament_id = tournament.id) }}" method="POST">
            {{ form.hidden_tag() }}

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                        <div class="form-group {% if form.player_name.errors %} has-error {% endif %}">
                            {{form.player_name.label()}}
                            <div>
                                {{form.player_name(class="form-control")}}
                            </div>
                            <p class="help-block">
                                {{ form.player_name.errors[0] }}
                        </div>

                        <div class="form-group">
                            <button class="btn btn-success" type="submit">Valider</button>
                        </div>

                    </div>
                </div>
        </form>
    </div>

</div>

{% if tournament_player %}

<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title">Pronostics pour le joueur {{ tournament_player.get_full_name() }}</h3>
    </div>

    <div class="panel-body">

        <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Participant</th>
                    <th>Score</th>
                    {% for name in tournament.get_round_names() %}
                    <th>{{ name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% with stats = tournament.get_tournament_player_stats(tournament_player) %}
                    {% for participant in tournament.participants_sorted() %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td><a href="{{ url_for('tournament.view_participant_draw', tournament_id = tournament.id, participant_id = participant.id) }}">
                            {{ participant.user.username }}</a>
                            </td>

                            <td>{{ participant.score }}</td>

                            {% for round in range(tournament.number_rounds, 0, -1) %}
                                {% with winner = stats[round][participant] %}
                                    {% if winner == tournament_player %}
                                    <td class="victory">V</td>
                                    {% else %}
                                    <td class="defeat">D</td>
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endwith %}
            </tbody>
        </table>

    </div>
</div>


{% endif %}

{% endblock %}
