{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Liste des tournois</strong></h3>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {% for tournament in pagination.items %}
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ tournament.name }}</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>{{ tournament.number_rounds }} tours</li>
                    <li>Date de début : {{ tournament.started_at }}</li>
                    <li>
                        <a href="{{ url_for('.view_tournament', tournament_id=tournament.id) }}">
                            Voir le tournoi</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="pagination">
    {{ macros.pagination_widget(pagination, '.view_tournaments') }}
</div>

{% endblock %}