{% extends "base.html" %}

{% block content %}

<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title">
            <a data-toggle="collapse" href="#collapse1">
            Tournoi {{ tournament.name }}</a>
        </h3>
    </div>

    <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">
            {% if not current_user.is_registered_to_tournament(tournament.id) %}
                {% if tournament.is_open_to_registration() %}

                    <div class="alert alert-info">
                        <p>La date limite d'inscription n'est donnée qu'à titre indicatif.</p>
                        <p>La fermeture des inscriptions peut éventuellement être repoussée par l'organisateur.</p>
                    </div>
                    <p>Date limite d'inscription : {{ tournament.started_at | datetime("long") }}</p>
                {% endif %}
            {% endif %}

            <div class="row">

                {% if not current_user.is_registered_to_tournament(tournament.id) %}
                    {% if tournament.is_open_to_registration() %}
                        <div class="col-md-6">
                            <a class="btn btn-success"
                               href="{{ url_for('.register', tournament_id=tournament.id) }}">
                            <span class="fa fa-user-plus"></span>
                                Je m'inscris au tournoi
                            </a>
                        </div>
                    {% endif %}

                {% else %}

                    {% with participant = current_user.get_participant(tournament.id) %}

                        <div class="col-md-6">
                            <a class="btn btn-primary"
                               href="{{ url_for('.view_participant_draw', tournament_id=tournament.id, participant_id=participant.id) }}">
                            <span class="fa fa-eye"></span>
                                Voir mon tableau
                            </a>
                        </div>

                        {% if participant.has_filled_draw() %}
                            <div class="col-md-6">
                                <a class="btn btn-primary"
                                   href="{{ url_for('.edit_my_draw', tournament_id=tournament.id, participant_id=participant.id) }}">
                            <span class="fa fa-pencil"></span>
                                    Modifier mon tableau
                                </a>
                            </div>

                        {% else %}
                            <div class="col-md-6">
                                <a class="btn btn-primary"
                                   href="{{ url_for('.fill_my_draw', tournament_id=tournament.id, participant_id=participant.id) }}">
                            <span class="fa fa-pencil"></span>
                                    Remplir mon tableau
                                </a>
                            </div>

                        {% endif %}

                    {% endwith %}

                {% endif %}

                {% if tournament.is_draw_created() %}
                    <div class="col-md-6">
                        <a class="btn btn-primary"
                           href="{{ url_for('.view_tournament_draw', tournament_id=tournament.id) }}">
                        <span class="fa fa-sitemap"></span>
                            Voir le tableau
                        </a>
                    </div>
                {% if tournament.number_rounds > 4 %}
                    <div class="col-md-6">
                        <a class="btn btn-primary"
                           href="{{ url_for('.view_tournament_draw_last16', tournament_id=tournament.id) }}">
                        <span class="fa fa-sitemap"></span>
                            Voir le tableau à partir des huitièmes
                        </a>
                    </div>
                {% endif %}

                {% endif %}

            </div>
        </div>
    </div>

</div>


{% if current_user.is_manager() %}

    <div class="panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" href="#collapse2">Gestion du tournoi</a>
            </h3>
        </div>

        <div id="collapse2" class="panel-collapse collapse in">
            <div class="panel-body">
                <h5>Tournoi</h5>
                    <div class="row">
                        {% if not tournament.is_finished() %}
                            <div class="col-md-4">
                                <a class="btn btn-warning"
                                   href="{{ url_for('.close_tournament', tournament_id=tournament.id) }}">
                                   <span class="fa fa-lock"></span>
                                        Clôturer le tournoi
                                </a>
                            </div>
                        {% endif %}
                        <div class="col-md-4">
                            <a class="btn btn-warning"
                               href="{{ url_for('.edit_tournament', tournament_id=tournament.id) }}">
                               <span class="fa fa-pencil"></span>
                                Editer le tournoi
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-danger"
                               href="{{ url_for('.delete_tournament', tournament_id=tournament.id) }}">
                               <span class="fa fa-trash"></span>
                                Supprimer le tournoi
                            </a>
                        </div>
                    </div>

                <h5>Inscriptions</h5>
                    <div class="row">
                        {% if tournament.is_open_to_registration() %}
                            <div class="col-md-4">
                                <a class="btn btn-warning"
                                   href="{{ url_for('.close_registrations', tournament_id=tournament.id) }}">
                                    <span class="fa fa-lock"></span>
                                    Fermer les inscriptions
                                </a>
                            </div>

                        {% else %}

                            <div class="col-md-4">
                                <a class="btn btn-warning"
                                   href="{{ url_for('.open_registrations', tournament_id=tournament.id) }}">
                                   <span class="fa fa-unlock"></span>
                                    Ouvrir les inscriptions
                                </a>
                            </div>

                        {% endif %}
                    </div>

                <h5>Tableau</h5>
                    <div class="row">
                        {% if not tournament.is_draw_created() %}
                            <div class="col-md-4">
                                <a class="btn btn-warning"
                                   href="{{ url_for('.create_tournament_draw', tournament_id=tournament.id) }}">
                                    <span class="fa fa-list"></span>
                                    Créer le tableau
                                </a>
                            </div>

                        {% else %}
                            <div class="col-md-4">
                                <a class="btn btn-warning"
                                   href="{{ url_for('.edit_tournament_draw', tournament_id=tournament.id) }}">
                                    <span class="fa fa-list"></span>
                                    Modifier le tableau de départ
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a class="btn btn-warning"
                                   href="{{ url_for('.update_tournament_draw', tournament_id=tournament.id) }}">
                                    <span class="fa fa-pencil"></span>
                                    Mettre à jour le tableau
                                </a>
                            </div>
                        {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endif %}

<div class="panel panel-default panel-table">

    <div class="panel-heading">
        <h3 class="panel-title">
            <a data-toggle="collapse" href="#collapse3">
            Participants</a></h3>
    </div>

    <div id="collapse3" class="panel-collapse collapse in">
        <div class="panel-body">

            {% if not tournament.are_draws_private() %}
                <div class="col-md-6">
                        <a class="btn btn-primary"
                        href="{{ url_for('.overall_forecasts_stats', tournament_id=tournament.id) }}">
                            Voir les pronostics globaux
                        </a>
                </div>
                <div class="col-md-6">
                        <a class="btn btn-primary"
                        href="{{ url_for('.tournament_player_stats', tournament_id=tournament.id) }}">
                            Voir les pronostics par joueur
                        </a>
                </div>

            {% endif %}

            {% if tournament.participants.first() %}
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Participant</th>
                            <th>Tableau</th>
                            <th>Score / {{ tournament.get_current_maximal_score() }}</th>
                            <th>Coefficient de risque</th>
                            {% if tournament.is_finished() %}
                                <th>Points ATP attribués</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for participant in tournament.participants_sorted() %}
                            {% if not tournament.are_draws_private() %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>
                                        <a href= '{{ url_for("main.view_user", user_id = participant.user.id, _external = True) }}'>
                                        {{ participant.user.username }}</a>
                                    </td>
                                    <td>
                                        {% if tournament.old_website_id %}
                                        <a target="_blank" href= '{{ participant.get_old_website_draw_url() }}'>Voir le tableau</a>
                                        {% else %}
                                        <a href= '{{ url_for(".view_participant_draw", tournament_id = tournament.id, participant_id = participant.id, _external = True) }}'>
                                        Entier</a>
                                        {% if tournament.number_rounds > 4 %}
                                        /
                                        <a href= '{{ url_for(".view_participant_draw_last16", tournament_id = tournament.id, participant_id = participant.id, _external = True) }}'>
                                        A partir des 8èmes</a>
                                        {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>{{ participant.score }}</td>
                                    <td>{{ participant.risk_coefficient | int }}</td>
                                    {% if tournament.is_finished() %}
                                        <td>{{ participant.points }}</td>
                                    {% endif %}
                                </tr>
                            {% else %}
                                <tr>
                                    <td>-</td>
                                    <td>
                                        <a href= '{{ url_for("main.view_user", user_id = participant.user.id, _external = True) }}'>
                                        {{ participant.user.username }}</a>
                                    </td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                Aucun participant à ce tournoi pour le moment
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
