{% extends "base.html" %}

{% block content %}


<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title"><strong>Tableau du tournoi</strong></h3>
    </div>

    <div class="panel-body">
        <main id="tournament">

            {% for round in tournament.get_matches_by_round() %}
                <div class="round">
                    <div class="spacer">
                        &nbsp;
                    </div>

                    {% for match in round["matches"] %}

                        <div id="player-{{ match.position }}-0"
                            class="game game-player match {% if round['first_round'] %}first-round{% endif %}">
                            {% if match.tournament_player1_id %}
                                {{ match.tournament_player1.get_full_name() }}
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </div>

                        <div class="game game-spacer">
                            &nbsp;
                        </div>

                        <div id="player-{{ match.position }}-1"
                            class="game game-player match {% if round['first_round'] %}first-round{% endif %}">
                            {% if match.tournament_player2_id %}
                                {{ match.tournament_player2.get_full_name() }}
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </div>

                    <div class="spacer">
                        &nbsp;
                    </div>

                    {% endfor %}

                </div>
                {% endfor %}

            <div class="round">

                <div id="player-0-1"
                    class="game game-player">
                    {% if tournament.last_match.winner %}
                        {{ tournament.last_match.winner.get_full_name() }}
                    {% else %}
                        &nbsp;
                    {% endif %}
                </div>
            </div>
        </main>

        </div>
    </div>

{% endblock %}

