{% extends "base.html" %}

{% block styles %}

{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/{}.css'.format(tournament.surface.class_name)) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/draw.css') | autoversion }}">

{% endblock %}


{% block content %}

<a class="btn btn-default"
   href="{{ url_for('.view_tournament', tournament_id=tournament.id) }}">
    <span class="fa fa-arrow-left"></span>
    Revenir au tournoi
</a>

<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title">{{ tournament.name }} - Tableau du tournoi</h3>
    </div>

    <div class="panel-body">
        <div class="main">
            <div id="round-names" class="draw">
                {% for round in tournament.get_matches_by_round() %}
                    <div class="round">
                        <div class="round-name">
                            {{ tournament.get_round_names()[loop.index - 1] }}
                        </div>
                    </div>
                {% endfor %}
                    <div class="round">
                        <div class="round-name">
                            V
                        </div>
                    </div>
            </div>

            <div id="tournament" class="draw">

                {% for round in tournament.get_matches_by_round() %}

                    <div class="round">

                        <div class="spacer">
                            &nbsp;
                        </div>

                        {% for match in round["matches"] %}

                            <a href="{% if match.tournament_player1_id and not match.tournament_player1.is_bye() %}{{ url_for('tournament.tournament_player_stats', tournament_id=tournament.id, tournament_player_id=match.tournament_player1_id) }}{% else %}#{% endif %}">
                            <div id="player-{{ match.position }}-0"
                                class="game game-player match {% if round['first_round'] %}first-round non-forecasted
                                {% elif match.get_previous_match(0).has_bye() %}non-forecasted{% endif %}">
                                {% if match.tournament_player1_id %}
                                    {{ match.tournament_player1.get_full_name() | truncate(35) }}
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </div>
                            </a>

                            <div class="game game-spacer">
                                &nbsp;
                            </div>

                            <a href="{% if match.tournament_player2_id and not match.tournament_player2.is_bye() %}{{ url_for('tournament.tournament_player_stats', tournament_id=tournament.id, tournament_player_id=match.tournament_player2_id) }}{% else %}#{% endif %}">
                            <div id="player-{{ match.position }}-1"
                                class="game game-player match {% if round['first_round'] %}first-round non-forecasted
                                {% elif match.get_previous_match(1).has_bye() %}non-forecasted{% endif %}">
                                {% if match.tournament_player2_id %}
                                    {{ match.tournament_player2.get_full_name() | truncate(35) }}
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </div>
                            </a>

                        <div class="spacer">
                            &nbsp;
                        </div>

                        {% endfor %}

                    </div>
                    {% endfor %}

                <div class="round last-round">
                    <a href="{% if tournament.get_last_match().winner %}{{ url_for('tournament.tournament_player_stats', tournament_id=tournament.id, tournament_player_id=tournament.get_last_match().winner_id) }}{% else %}#{% endif %}">
                    <div id="player-0-1"
                        class="game game-player">
                        {% if tournament.get_last_match().winner %}
                            {{ tournament.get_last_match().winner.get_full_name() | truncate(35) }}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

