{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Liste des tournois</strong></h3>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {% for tournament in pagination.items %}
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a href="{{ url_for('.view_tournament', tournament_id=tournament.id) }}">
                        {{ tournament.name }}
                    </a>
                </h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>{{ tournament.number_rounds }} tours</li>
                    {% if tournament.is_open_to_registration %}
                        <li>Date limite d'inscription : {{ tournament.started_at }}</li>
                    {% elif not tournament.is_visible %}
                        <li>Inscriptions non ouvertes</li>
                    {% else %}
                        <li>Inscriptions closes</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="pagination">
    {{ macros.pagination_widget(pagination, '.view_tournaments') }}
</div>

{% endblock %}