body {
    padding-top: 70px;
    background: #83a4d4;
}


.panel, .panel-heading, .alert {
    border-color: #000000;
    border-radius: 10px;
}

.navbar {
    border-color: #000000;
}

.btn {
    border-color: #000000;
    border-radius: 15px;
}


.default-background {
    background: #83a4d4;
}

div .table {
    overflow-x: auto;
    white-space: nowrap;
}
