body {
    padding-top: 70px;
    background: rgb(163, 194, 194);
}


.panel, .alert {
    border-color: #202020;
    border-width: 2px;
    border-radius: 10px;
}

.panel-heading {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.navbar {
    border-color: #202020;
}

.btn {
    border-width: 1px;
    border-color: #202020;
    border-radius: 15px;
}


div .table {
    overflow-x: auto;
    white-space: nowrap;
}
