/*
 *  Flex Layout Specifics
*/
main {
  display:flex;
  flex-direction:row;
}

.round {
  display:flex;
  flex-direction:column;
  justify-content:center;
  min-width:200px;
  list-style:none;
  padding:0;
}

.round .spacer {
  flex-grow:1;
}

.round .spacer:first-child,
.round .spacer:last-child {
  flex-grow:0.5;
}

.round .game-spacer{
  flex-grow:1;
}

/*
 *  General Styles
*/


.round-name {
  font-weight: bold;
  text-align: center;
}


.last-round {
  padding-right: 10px;
}

div.game{
  padding-left: 5px;
  padding-right: 5px;
}

div.correct_forecast {
  background-color: rgba(0, 255, 0, 0.3);
}

div.incorrect_forecast {
  background-color: rgba(255, 0, 0, 0.3);
}

div.game-player{
  min-height:45px;
  border-top:2px solid #aaa;
  border-bottom:2px solid #aaa;
  border-right:5px solid #aaa;
  cursor: pointer;
  display: flex;
  align-items: center;
}

div.game-player:hover {
  background-color: lightblue;
}

div.game-spacer{
  height:10px;
  border-right:5px solid #aaa;
}

div.game.first-round{
  border-left:5px solid #aaa;
}


#player-0-1 {
  font-weight: bold;
}
