/*
 *  Flex Layout Specifics
*/
main{
  display:flex;
  flex-direction:row;
}
.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:200px;
  list-style:none;
  padding:0;
}
  .round .spacer{ flex-grow:1; }
  .round .spacer:first-child,
  .round .spacer:last-child{ flex-grow:.5; }

  .round .game-spacer{
    flex-grow:1;
  }

/*
 *  General Styles
*/
body{
  font-family:sans-serif;
  font-size:small;
  padding:10px;
  line-height:1.4em;
}

div.game{
  padding-left:5px;
}

div.game.winner{
  font-weight:bold;
}
div.game span{
  float:right;
  margin-right:5px;
}

div.game-player{
  border-top:1px solid #aaa;
  border-bottom:1px solid #aaa;
  border-right:1px solid #aaa;
  cursor: pointer;
}

div.game-player:hover {
  background-color: yellow;
}

div.game-spacer{
  border-right:1px solid #aaa;
  min-height:40px;
}

div.game.first-round{
  border-left:1px solid #aaa;
}

.btn{
  width: 100%;
}
