.panel-default > .panel-heading {
    background: rgb(108, 125, 239);
    color: #000000;
}

div.game.first-round{
  border-left:4px solid rgb(108, 125, 239);
}

div.game-spacer{
  border-right:4px solid rgb(108, 125, 239);
}

div.game-player{
  border-right:4px solid rgb(108, 125, 239);
}

div.game-player:hover {
  background-color: rgba(108, 125, 239, 0.5);
}
