.panel-default > .panel-heading {
    background: rgb(64, 137, 206);
    color: #000000;
}

div.game.first-round{
  border-left:4px solid rgb(64, 137, 206);
}

div.game-spacer{
  border-right:4px solid rgb(64, 137, 206);
}

div.game-player{
  border-right:4px solid rgb(64, 137, 206);
}
