<!DOCTYPE html>
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
{{ super() }}

<title>
    {% block title %}{% if title %}{{ title }} - {% endif %}Le jeu de L-orgue{% endblock %}
</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

{% endblock %}


{% block styles %}
{{ super() }}

<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/tennis_ball.ico') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/background.css') }}">

{% endblock %}

{% block body %}

{% block navbar %}
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Le jeu de L-orgue</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ url_for('main.faq') }}">
                        <span class="fa fa-question-circle" aria-hidden="true"></span>
                        FAQ
                    </a>
                </li>
                {% if current_user.is_authenticated %}
                <li>
                    <a href="{{ url_for('main.index') }}">
                        <span class="fa fa-home" aria-hidden="true"></span>
                        Accueil
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tournoi en cours <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ url_for('tournament.view_tournaments') }}">
                                <span class="fa fa-list" aria-hidden="true"></span>
                                Tournois
                            </a>
                        </li>
                    </ul>
                </li>
                {% endif %}
                {% if current_user.is_manager() %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ url_for('admin.dashboard') }}">
                                <span class="fa fa-user" aria-hidden="true"></span>
                                Dashboard
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('tournament.view_tournaments') }}">
                                <span class="fa fa-list" aria-hidden="true"></span>
                                Tournois
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('tournament.create_tournament') }}">
                                <span class="fa fa-sitemap" aria-hidden="true"></span>
                                Créer un tournoi
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('player.create_player') }}">
                                <span class="fa fa-user" aria-hidden="true"></span>
                                Créer un joueur ATP
                            </a>
                        </li>
                    </ul>
                </li>

                {% endif %}

            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="fa fa-user" aria-hidden="true"></span>
                        {{ current_user.username}}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ url_for('main.view_user', user_id=current_user.id) }}">
                                <span class="fa fa-user" aria-hidden="true"></span>
                                Mon profil
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('auth.change_password') }}">
                                <span class="fa fa-lock" aria-hidden="true"></span>
                                Modification du mot de passe
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('auth.logout') }}">
                                <span class="fa fa-sign-out" aria-hidden="true"></span>
                                Déconnexion
                            </a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li>
                    <a href="/signup">
                        <span class="fa fa-user-plus" aria-hidden="true"></span>
                        Inscription
                    </a>
                </li>
                <li>
                    <a href="/login">
                        <span class="fa fa-sign-in" aria-hidden="true"></span>
                        Connexion
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }} alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
{% endfor %}

<div class="container">
    {% block content %}{% endblock %}
</div>

<script src="{{ url_for('static', filename='bower_components/moment/min/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% block extrajs %}{% endblock %}

{% endblock %}
