{% extends "base.html" %}

{% block content %}

<form action="{{url_for('signup')}}" class="form-horizontal" method="POST">
    {{ form.hidden_tag() }}
    <div class="heading">
        <h1 class="form-heading">Inscription</h1>
    </div>

    <div class="well">
        <div class="form-group {% if form.email.errors %} has-error {% endif %}">
            {{form.email.label(class="col-sm-3")}}
            <div class="col-sm-6">
                {{ form.email(class="form-control") }}
            </div>
            <p class="col-sm-3 help-block">
                {{ form.email.errors[0] }}
        </div>

        <div class="form-group {% if form.username.errors %} has-error {% endif %}">
            {{form.username.label(class="col-sm-3")}}
            <div class="col-sm-6">
                {{form.username(class="form-control")}}
            </div>
            <p class="col-sm-3 help-block">
                {{ form.username.errors[0] }}
        </div>

        <div class="form-group {% if form.password.errors %} has-error {% endif %}">
            {{form.password.label(class="col-sm-3")}}
            <div class="col-sm-6">
                {{ form.password(placeholder="Min. 6 caractères", class="form-control") }}
            </div>
            <p class="col-sm-3 help-block">
                {{ form.password.errors[0] }}
        </div>

        <button class="btn btn-success" id="submitbtn" type="submit">S'inscrire</button>
    </div>
</form>

{% endblock %}
